
.inputItem {
    margin: 10px;
    .input{
        width: 98%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid #ff5000;
    }
}
